// Colors
$white: hsl(0, 0%, 100%);
$background: hsl(180, 52%, 96%);
$filter-tablets: hsl(180, 31%, 95%);
$text-filter: hsl(180, 29%, 50%);
$text-job: hsl(180, 14%, 20%);
$text-features: hsl(180, 8%, 52%);

// Font-size
$s13: 1.3rem;
$s14: 1.4rem;
$s15: 1.5rem;
$s16: 1.6rem;
$s18: 1.8rem;
$s22: 2.2rem;


// Font-weight
$medium: 500;
$bold: 700;

// Box-shadow

$shadow: 0 1.5rem 2rem rgba(13, 113, 30, 0.15);