@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "League Spartan", sans-serif;
}

header {
  position: relative;
  width: 100vw;
  height: 15.6rem;
  background: hsl(180, 29%, 50%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  z-index: -1;
}
header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/bg-header-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

main {
  width: 100vw;
  height: 100%;
  padding: 7.6rem 16.5rem 12rem;
  margin: unset;
  background-color: hsl(180, 52%, 96%);
  min-height: calc(100vh - 15.6rem);
}

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: normal;
  align-items: center;
  padding: 2rem 4rem;
  margin: -11.2rem 0 4rem;
  background: hsl(0, 0%, 100%);
  background-repeat: unset;
  background-size: unset;
  background-position: unset;
  width: 100%;
  height: 100%;
  box-shadow: 0 1.5rem 2rem rgba(13, 113, 30, 0.15);
}
.filter .filter__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: normal;
  justify-content: normal;
  align-items: center;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
  row-gap: 1.6rem;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
}
.filter .filter__list .filter__card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: rgba(91, 164, 164, 0.1);
  background-repeat: unset;
  background-size: unset;
  background-position: unset;
  border-radius: 0.4rem;
  cursor: pointer;
}
.filter .filter__list .filter__card .filter__value {
  color: hsl(180, 29%, 50%);
  font-size: 1.6rem;
  letter-spacing: -0.12px;
  font-weight: 700;
  padding: 1rem 1.2rem 1rem 0.8rem;
  margin: unset;
}
.filter .filter__list .filter__card .filter__remove {
  background: hsl(180, 29%, 50%);
  background-repeat: unset;
  background-size: unset;
  background-position: unset;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.925rem;
  margin: unset;
  border: none;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  cursor: pointer;
}
.filter .filter__list .filter__card .filter__remove .remove__icon {
  width: 1.35rem;
  height: 1.35rem;
}
.filter .filter__list .filter__card .filter__remove:hover {
  background-color: hsl(180, 14%, 20%);
}
.filter .filter__clear {
  color: hsl(180, 8%, 52%);
  font-size: 1.6rem;
  letter-spacing: -0.12px;
  font-weight: 700;
  background: transparent;
  background-repeat: unset;
  background-size: unset;
  background-position: unset;
  border: none;
  cursor: pointer;
}
.filter .filter__clear:hover {
  color: hsl(180, 29%, 50%);
  text-decoration: underline;
}

.--hidden {
  display: none;
}

.job__card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: 2.4rem;
}
.job__card-container .--border {
  border-left: 5px solid hsl(180, 29%, 50%);
}
.job__card-container .job__card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4rem 3.2rem;
  margin: unset;
  background: hsl(0, 0%, 100%);
  background-repeat: unset;
  background-size: unset;
  background-position: unset;
  box-shadow: 0 1.5rem 2rem rgba(13, 113, 30, 0.15);
  border-radius: 0.5rem;
}
.job__card-container .job__card .job__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  row-gap: unset;
}
.job__card-container .job__card .job__container .job__logo {
  width: 8.8rem;
  height: -moz-fit-content;
  height: fit-content;
}
.job__card-container .job__card .job__container .job__data {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: 1rem;
}
.job__card-container .job__card .job__container .job__data .job__info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  row-gap: unset;
}
.job__card-container .job__card .job__container .job__data .job__info .job__name {
  color: hsl(180, 29%, 50%);
  font-size: 1.8rem;
  letter-spacing: normal;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.job__card-container .job__card .job__container .job__data .job__info .job__badge-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  row-gap: unset;
}
.job__card-container .job__card .job__container .job__data .job__info .job__badge-container .job__badge-item {
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  letter-spacing: -0.11px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.7rem 0.8rem 0.3rem;
  margin: normal;
  border-radius: 1.2rem;
  text-transform: uppercase;
  background-color: hsl(180, 29%, 50%);
}
.job__card-container .job__card .job__container .job__data .job__info .job__badge-container .--feat {
  background-color: hsl(180, 14%, 20%);
}
.job__card-container .job__card .job__container .job__data .job__datails {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  -moz-column-gap: unset;
       column-gap: unset;
  row-gap: 0.7rem;
}
.job__card-container .job__card .job__container .job__data .job__datails .job__position {
  color: hsl(180, 14%, 20%);
  font-size: 2.2rem;
  letter-spacing: normal;
  font-weight: 700;
  line-height: 2.4rem;
  cursor: pointer;
}
.job__card-container .job__card .job__container .job__data .job__datails .job__position:hover {
  color: hsl(180, 29%, 50%);
}
.job__card-container .job__card .job__container .job__data .job__datails .job__featured-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-between;
  align-items: normal;
}
.job__card-container .job__card .job__container .job__data .job__datails .job__featured-container .job__featured-item {
  color: hsl(180, 8%, 52%);
  font-size: 1.8rem;
  letter-spacing: -0.14px;
  font-weight: 500;
  line-height: 2.4rem;
}
.job__card-container .job__card .job__container .job__data .job__datails .job__featured-container .--divider::before {
  content: "•";
  padding: normal;
  margin: 0 1.85rem;
  opacity: 0.5;
}
.job__card-container .job__card .job__container .job__data .job__datails .job__featured-container .--divider::after {
  content: "•";
  padding: normal;
  margin: 0 1.85rem;
  opacity: 0.5;
}
.job__card-container .job__card .job__skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: normal;
  align-items: normal;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
  row-gap: unset;
}
.job__card-container .job__card .job__skills-list .job__skill-item {
  color: hsl(180, 29%, 50%);
  font-size: 1.6rem;
  letter-spacing: -0.12px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  height: 3.2rem;
  padding: 0.5rem 1rem 0.3rem;
  margin: unset;
  background: rgba(91, 164, 164, 0.1);
  background-repeat: unset;
  background-size: unset;
  background-position: unset;
  line-height: 2.4rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}
.job__card-container .job__card .job__skills-list .job__skill-item:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(180, 29%, 50%);
}
.job__card-container .job__card .job__skills-list .--active {
  color: hsl(0, 0%, 100%);
  background-color: hsl(180, 29%, 50%);
}/*# sourceMappingURL=style.css.map */