@import "../base/variables";
@import "../base/mixins";

header {
    position: relative;
    @include size(100vw, 15.6rem);
    @include background($text-filter, no-repeat, 100% 100%, center);
    
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        @include background(url(../images/bg-header-desktop.svg), no-repeat, 100% 100%, center);
        @include size(100%, 100%);
    }
}